@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

/* DEFINICION DE VARIABLES */
:root {
    --color-background: rgb(49, 49, 74);

    --color-background-footer: #203754ae;

    --color-buttons: rgba(136, 136, 251, 0.88);
    --color-buttons-hover: #49316d;
    --color-fonts: #f9f9f9;
    --font-titulo: "Roboto", sans-serif;
    --font-texto: "Lato", sans-serif;
    --font-size_titulo: 1rem;
    --font-size_texto: .8rem;
}

/* FIN DE DEFINICION DE VARIABLES */
html,
body {
    margin: 0;
    padding: 0;
    line-height: 1.5;
    min-height: 100dvh;
    min-width: 100dvw;
    overflow-x: hidden;
}

body {
    background-color: var(--color-background);
    color: var(--color-fonts);
    font-size: var(--font-size_texto);
    font-family: var(--font-titulo);
    height: auto;
    width: 100%;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
    margin: 0;
    padding: 0;

}

/* header */
/* formato header */
header {
    top: 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: em;
    background-color: var(--color-background-header);
    font-family: var(--font-titulo);
    font-size: 0.9em;
    width: 100%;
}

.nav {
    display: flex;
    flex-flow: row nowrap;
    gap: 1em;
}

/* footer */
footer {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: center;
    font-family: var(--font-size_texto);
    margin-bottom: 0.7em;
    margin-top: 1em;
}

.icon-devjobs {
    background-image: url('../assets/icons/devjobs-icon.png');
    width: 32px;
    height: 32px;
    display: inline-block;
    background-size: cover;
    vertical-align: middle;
    margin-right: 8px;
}